$var cssfiles: static/about.css

<head>
	<title>About Me</title>
	<style>
		body {
			background:url(/static/images/about.jpg);
			background-size:100%;
		}	
	</style>
<head>

<body>
	<div class="btn-group btn-large">
	    <div class="glyphicon glyphicon-align-justify dropdown-toggle" data-toggle="dropdown"></div>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="home.html" class="glyphicon glyphicon-home"><strong>&nbsp;Home</strong></a></li>
	      <li><a href="index.html" class="glyphicon glyphicon-book"><strong>&nbsp;Blogs</strong></a></li>
	      <li><a href="#" class="glyphicon glyphicon-user"><strong>&nbsp;About</strong></a></li>
	      <li><a href="archive.html" class="glyphicon glyphicon-star"><strong>&nbsp;Archive</strong></a></li>
	    </ul>
	</div>
	
	<div class="intro">
		<p><strong>I'm Ying Haofei.</strong></p>
		<p><strong>I study at Xidian University, major in Electrical Engineering and minor in Computer Science.</strong></p>
		<p><strong>I speak native Mandarin, fluent English and passable Cantonese. My interests include web development, Cantonese films and NBA 2K game.</strong></p>	
	</div>
</body>