$def with (page)

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>My Blog</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="$page.cssfiles">

	<link rel="stylesheet" href="static/prettify.css">
	<script src="/static/prettify.js"></script>
</head>
<body onload="prettyPrint()">
$:page
</body>

<footer>
	<p>© Copyright Ying Haofei 2014. All rights reserved.</p>
</footer>

</html>