$var cssfiles: static/home.css

<head>
	<title>Ying Haofei's Oasis</title>
	<style>
		body {
			background:url(/static/images/home.jpg);
			background-size:100%;
		}	
	</style>
<head>

<body>
	<div class="btn-group btn-large">
	    <div class="glyphicon glyphicon-align-justify dropdown-toggle" data-toggle="dropdown"></div>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="#" class="glyphicon glyphicon-home"><strong>&nbsp;Home</strong></a></li>
	      <li><a href="index.html" class="glyphicon glyphicon-book"><strong>&nbsp;Blogs</strong></a></li>
	      <li><a href="about.html" class="glyphicon glyphicon-user"><strong>&nbsp;About</strong></a></li>
	      <li><a href="archive.html" class="glyphicon glyphicon-star"><strong>&nbsp;Archive</strong></a></li>
	    </ul>
	</div>

	<div class="content">
		<h1><span class="glyphicon glyphicon-leaf"></span><strong>&nbsp;Ying Haofei's Oasis</strong></h1>
		<p class="intro">Talk is cheap.</p>
	</div>
</body>