$def with (posts, form, logged)
$var cssfiles: static/style.css

<div class="log">
	$if not logged:
		<a href="login"><img src="http://img3.douban.com/pics/douban-icons/login_with_douban_32.png" alt="douban_login"></a>
	$else:
		<a href="logout">Logout</a>
</div>

<h1 class="h1">Ying Haofei's Oasis<small>Talk is cheap.</small> </h1>
<br>
<div class="nav-div">
	<ul class="nav nav-tabs">    <!-- 导航 -->
		<li><a href="home.html" class="glyphicon glyphicon-home">&nbsp;<strong>Home</strong></a></li>
		<li class="active"><a href="#" class="glyphicon glyphicon-book">&nbsp;<strong>Blogs</strong></a></li>
		<li><a href="about.html" class="glyphicon glyphicon-user">&nbsp;<strong>About</strong></a></li>
		<li><a href="archive.html" class="glyphicon glyphicon-star">&nbsp;<strong>Archive</strong></a></li>
	</ul>
</div>

<br>

<div class="page">
$for post in posts:
	<div class="well">
		<div class="date">
			Posted on $post[3]
		</div>
		<div class="title">
			<h2>$post[1]&nbsp;&nbsp;<a href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e(d.title)+'&sel='+e(s)+'&v=1',w=450,h=330,x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width='+w+',height='+h+',left='+(screen.width-w)/2+',top='+(screen.height-h)/2))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()"><img src="http://img2.douban.com/pics/fw2douban1.png" alt="推荐到豆瓣" /></a></h2>
		</div>
		$:post[2]
	</div>
</div>
<br><hr>
$if logged:
	<form id="add_post" action="" method="post">		
		$:form.render()
	</form>
<script src="/static/tab.js"></script>



