$def with (posts, form)
$var cssfiles: static/style.css

<div id="contents">
	<tr>
		<th>My Post:</th>
	</tr>

	<ul>
		$for post in posts:
			<div class="col-md-5 col-md-offset-1"><a data-toggle="modal" data-target="#$post[1].replace(" ","")">$post[1]</a></div>
			<div class="col-md-2 col-md-offset-2">$post[3]</div>
			<form id="delete" action="/del/$post[0]" method="post">
			 	<input class="btn btn-primary btn-sm" type="button" value="Delete" onclick="confirm_del()">
			 	<script>
			 	 	function confirm_del() {
			 	 		if (confirm("Are you sure to delete this post?"))	
			 	 			document.getElementById("delete").submit();
			 	 	}
			 	</script>
			</form>

			<div class="modal fade" id="$post[1].replace(" ","")" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">$post[1]</h4>
						</div>
						<div class="modal-body">$post[2]</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
	</ul>
</div>

<form id="add_post" action="" method="post">
$:form.render()
</form>



